.list_ul_engo_full ul li {
    color: #28af5b;
    font-weight: 500;
}

.list_ul_engo_full ul li:before {
    border-color: transparent transparent transparent #28af5b;
}

.list_ul_engo_full .title-list {
    color: #28af5b
}
.ciloe-size-guide {
    margin: 30px 0 20px;
}

.ciloe-size-guide .extra-link {
    display: flex;
}

.ciloe-size-guide .close_size_guide {
    top: -30px;
    right: -30px;
    background: #111;
    width: 30px;
    height: 30px;
    opacity: .8;
    text-align: center;
}

.rtl .ciloe-size-guide .close_size_guide {
    left: -30px;
    right: unset;
}

.ciloe-size-guide .close_size_guide a {
    color: #fff;
}

.ciloe-size-guide .extra-link a {
    margin-right: 20px;
    font-weight: bold;
}

.ciloe-size-guide .content_size_guide {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    display: inline-block;
    transform: scale(0);
}

.ciloe-size-guide .content_size_guide .layout_size_guide {
    max-width: 1000px;
    margin: 5% auto;
    width: 100%;
    background: #fff;
    padding: 30px;
    overflow-y: auto;
    height: auto;
}

.ciloe-size-guide .content_size_guide .layout_size_guide.active {
    height: 80%;
}

.ciloe-size-guide .content_size_guide .layout_size_guide.layout_question {
    max-width: 570px;
}

.ciloe-size-guide .content_size_guide.active {
    transform: scale(1);
}

.ciloe-size-guide .content_size_guide img {
    margin: 0 auto;
}

@media (max-width:767px) {
    .ciloe-size-guide .content_size_guide .layout_size_guide {
        max-width: 290px;
    }
}

@media (min-width:767px) and (max-width:992px) {
    .ciloe-size-guide .content_size_guide .layout_size_guide {
        max-width: 600px;
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    background: #0b0b0b;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.overlay.active {
    opacity: .8;
    visibility: visible;
}

.question-form-page .contact-form {
    text-align: left;
}

.rtl .question-form-page .contact-form {
    text-align: right;
}

.question-form-page .contact-form h3 {
    color: #222;
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.question-form-page .contact-form label {
    color: #878787;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    position: relative;
}

.rtl .question-form-page .contact-form label {
    margin: 0 10px 0 0;
}

.question-form-page .contact-form label:before {
    content: "*";
    color: red;
    position: absolute;
    top: 1px;
    right: -10px;
}

.question-form-page .contact-form input,
.question-form-page .contact-form textarea {
    width: 100%;
    border-radius: 0;
}

.question-form-page .contact-form .shop-button {
    cursor: pointer;
    border: 1px solid #222;
    padding: 5px 25px;
    background: #fff;
    color: #222;
    font-weight: 600;
    min-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;

}

.question-form-page .contact-form .shop-button:hover,
.question-form-page .contact-form .shop-button:focus {
    background: #fed2cc;
    border: 2px solid #fed2cc;
    color: #fff;
}

.delivery-wrap h4.title {
    font-size: 18px;
    color: #222;
    margin: 0 0 10px 0;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.4;
}

.delivery-wrap ul {
    padding: 0;
}

.delivery-wrap p {
    color: #878787;
    font-size: 16px;
    margin-bottom: 10px;
}

.delivery-wrap p a {
    text-decoration: underline;
}

.tab-content h2.heading_title {
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0;
    margin: 25px 0 10px;
}

.tab-content .accordion {
    color: #878787;
}

.sizeguide_table {
    margin: 20px 0;
}

table,
td,
th {
    border: 1px solid #ddd;
    vertical-align: middle;
}


/*  scroll  */
.layout_size_guide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.layout_size_guide::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.layout_size_guide::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ddd;
}

.shopify-payment-button__button--hidden {
    visibility: hidden;
}

.shopify-payment-button__button {
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 0 transparent;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    width: 100%;
    min-height: 44px;
    transition: background 0.2s ease-in-out;
}

.shopify-payment-button__button[disabled] {
    opacity: 0.6;
    cursor: default;
}

.shopify-payment-button__button--unbranded {
    background-color: #1990c6;
    padding: 1em 2em;
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-color: #136f99;
}

.shopify-payment-button__more-options {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

.shopify-payment-button__more-options.shopify-payment-button__skeleton {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.shopify-payment-button__more-options[disabled] {
    opacity: 0.6;
    cursor: default;
}

.shopify-payment-button__button.shopify-payment-button__button--branded {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    --wallet-button-border-radius: 0px;
}

.shopify-payment-button__button.shopify-payment-button__button--branded .shopify-cleanslate {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
}

.shopify-payment-button__button.button.loading {
    position: relative;
    color: transparent;
}

.shopify-payment-button__button.button.loading>.loading-overlay__spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.shopify-payment-button__button.button.loading>.loading-overlay__spinner .spinner {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.button.loading>.loading-overlay__spinner .path {
    stroke: white;
}

.shopify-payment-button__button .loading-overlay__spinner {
    width: 1.8rem;
    display: inline-block;
}

.shopify-payment-button__button .spinner {
    animation: shopify-rotator 1.4s linear infinite;
}

@keyframes shopify-rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.shopify-payment-button__button .path {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: rgb(18, 18, 18);
    animation: shopify-dash 1.4s ease-in-out infinite;
}

@media screen and (forced-colors: active) {
    .shopify-payment-button__button .path {
        stroke: CanvasText;
    }
}

@keyframes shopify-dash {
    0% {
        stroke-dashoffset: 280;
    }

    50% {
        stroke-dashoffset: 75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(450deg);
    }
}

@keyframes walletsLoadingSkeleton {
    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.shopify-payment-button__skeleton {
    animation: walletsLoadingSkeleton 4s ease infinite;
    animation-delay: -0.168s;
    background-color: rgb(222, 222, 222);
    box-sizing: border-box;
    text-decoration: none !important;
}

